<%- include('../../../../partials/head',{}) %>

<body>
    <%- include('../../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Betriebsmittel","link": "/betriebsmittel","class": "nav-link"},
            {"name": "Übertragungswege","link": "/betriebsmittel/uebertragungswege","class": "nav-link"},
            {"name": "Kabel","link": "/betriebsmittel/uebertragungswege/kabel","class": "nav-link"},
            {"name": "Hochfrequenzkabel","link": "/betriebsmittel/uebertragungswege/kabel/hochfrequenzkabel","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('../../partials/footer',{}) %>
</body>
