<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/baugruppen/zweipole",
            "name": "Zweipole",
            "text": "aktiver Zweipol, passiver Zweipol"
        },
        {
            "id": 2,
            "href": "/betriebsmittel/baugruppen/vierpole",
            "name": "Vierpole",
            "text": ""
        },
        {
            "id": 3,
            "href": "/betriebsmittel/baugruppen/netzwerk",
            "name": "Netzwerk",
            "text": ""
        },
        {
            "id": 4,
            "href": "/betriebsmittel/baugruppen/stromkreise",
            "name": "Stromkreise",
            "text": ""
        }
    ]
    showCards( data,id )

</script>
