<%- include('aufgabe.ejs',{}) %>

<div class="container text-left">

    <div class="row col bg-secondary">
        <%- include('table.ejs',{}) %>
    </div>
</div>

<script type="module">
    Material.value=d3.selectAll( 'tbody' ).selectAll( 'tr' )._groups[ 0 ][ 0 ].innerText.split( '\t' )[ 0 ];
</script>
