<form action="/elektrotechnik/gleichspannung/grundbegriffe/temperaturkoeffizient/aufgabe16/aufgabe" method="POST">
    <%- include('./../../../../../../layouts/partials/finput.ejs', {
        text: "Material",id: "Material",name: "Material",value: "GoldChrom"}) %>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Rechnen</button>
        </div>
    </div>
</form>
