
<form action="/elektrotechnik/gleichspannung/grundbegriffe/temperaturkoeffizient/aufgabe16/aufgabe" method="POST">
    <%- include('./../../../../../../layouts/partials/finput.ejs', {
        text: "Material",id: "Material",name: "Material",value: "GoldChrom"}) %>

    <%- include('./../../../../../../layouts/partials/finput.ejs')  %>
</form>
