<div class="card" style="width: 36rem; ">
    <div class="card-body">
        <h5 class="card-title">Aufgabe 1.6</h5>
        <h6 class="card-subtitle mb-2 text-muted">Nichtlinearität durch systembedingten Stromwärmefluss</h6>
        <p class="card-text">
            Wie groß ist die Temperaturkonstante theta0 für Gold-Chrom ?
        </p>
    </div>
</div>
