<div id="pc1"></div>
<script type="module">
    import {showCards} from '/modules/showCards.mjs'
    const id="#pc1"
    const data=[
        {
            "id": 1,
            "href": "/physikalischechemie/elektrochemie/elektrolyt/beispiel15/aufgabe",
            "name": "Beispiel 1.5",
            "text": `Wie groß ist die spezifische Leitfähigkeit einer Elektrolytflüssigkeit in S/cm, in der sich zwei Elektroden von 
            12.5cm x 20cm in einem Oberflächenabstand von 4 mm befinden? 
            Der Widerstand zwischen den Elektroden beträgt 0.05 Ohm.`
        }
    ]
    showCards( data,id )
</script>
