<%- include('../../partials/head',{}) %>

<body>
    <%- include('../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Bauelemente","link": "/bauelemente","class": "nav-link"},
            {"name": "Platten","link": "/bauelemente/platten","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>

    <%- body %>
    <%- include('../../partials/footer',{}) %>
</body>
