<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/elektrotechnik/gleichspannung/grundbegriffe/spannung/aufgabe11/aufgabe",
            "name": "Aufgabe1.1",
            "text": "Wie groß ist die Spannung, die an einem Widerstand liegt, dessen Leitwert 3E-2 S beträgt und der von einem Strom der Stärke 600 mA durchflossen wird?"
        }
    ]
    showCards( data,id )
</script>
