<%- include('../../../../../layouts/partials/e1CardTemplate',{}) %>
<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.js';
    showCards( "/json/Elektrotechnik/Gleichspannung/Grundbegriffe/Spannung/index.json","e1-card-template","e1" );
</script>
