<%- include('../../../../../../partials/head',{}) %>

<body>
    <%- include('../../../../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Betriebsmittel","link": "/betriebsmittel","class": "nav-link"},
            {"name": "Übertragungswege","link": "/betriebsmittel/uebertragungswege","class": "nav-link"},
            {"name": "Leitung","link": "/betriebsmittel/uebertragungswege/leitung","class": "nav-link"},
            {"name": "IsolierteLeitung","link": "/betriebsmittel/uebertragungswege/leitung/isolierteleitung","class": "nav-link"},
            {"name": "Fernmeldeleitung","link": "/betriebsmittel/uebertragungswege/leitung/isolierteleitung/fernmeldeleitung","class": "nav-link"},
            {"name": "Litzeleitung","link": "/betriebsmittel/uebertragungswege/leitung/isolierteleitung/fernmeldeleitung/eindrahtleitung","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%- include('../../../../../../partials/footer',{}) %>
</body>
