<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/kabel/fernmeldekabel",
            "name": "Fernmeldekabel",
            "text": ""
        },
        {
            "id": 2,
            "href": "/betriebsmittel/uebertragungswege/kabel/hochfrequenzkabel",
            "name": "Hochfrequenzkabel",
            "text": ""
        },
        {
            "id": 3,
            "href": "/betriebsmittel/uebertragungswege/kabel/starkstromkabel",
            "name": "Starkstromkabel",
            "text": ""
        }
    ]
    showCards( data,id )
</script>
