<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/leitung/isolierteleitung/fernmeldeleitung/eindrahtleitung",
            "name": "Eindrahtleitung",
            "text": ""
        },
        {
            "id": 2,
            "href": "/betriebsmittel/uebertragungswege/leitung/isolierteleitung/fernmeldeleitung/lahnlitzenleitung",
            "name": "Lahnlitzenleitung",
            "text": ""
        },
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/leitung/isolierteleitung/fernmeldeleitung/litzenleitung",
            "name": "Litzenleitung",
            "text": ""
        },
    ]
    showCards( data,id )
</script>
