<%- include('../../../partials/head',{}) %>

<body style="background-color: rgb(211, 209, 209);" onload="init()">
    <%- include('../../../partials/Betriebsmittel/Widerstaende/Beispiel11/header',{}) %>
    <%- body %>
    <%- include('../../../partials/footer',{}) %>
</body>
