<div id="e1"></div>
<script type="module">
    import {showCards} from '/modules/showCards.mjs'
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/messgeraete/energiemesser",
            "name": "Energiemesser",
            "text": ""
        },
        {
            "id": 2,
            "href": "/betriebsmittel/messgeraete/frequenzmesser",
            "name": "Frequenzmesser",
            "text": ""
        },
        {
            "id": 3,
            "href": "/betriebsmittel/messgeraete/impedanzmesser",
            "name": "Impedanzmesser",
            "text": ""
        },
        {
            "id": 4,
            "href": "/betriebsmittel/messgeraete/leistungsmesser",
            "name": "Leistungsmesser",
            "text": ""
        },
        {
            "id": 5,
            "href": "/betriebsmittel/messgeraete/magnetischegroessemesser",
            "name": "Magnetische Größe messen",
            "text": ""
        },
        {
            "id": 6,
            "href": "/betriebsmittel/messgeraete/phasenwinkelmesser",
            "name": "Phasenwinkelmesser",
            "text": ""
        },
        {
            "id": 7,
            "href": "/betriebsmittel/messgeraete/spannungsmesser",
            "name": "Spannungsmesser",
            "text": ""
        },
        {
            "id": 8,
            "href": "/betriebsmittel/messgeraete/strommesser",
            "name": "Strommesser",
            "text": ""
        },
        {
            "id": 9,
            "href": "/betriebsmittel/messgeraete/zeitmesser",
            "name": "Zeitmesser",
            "text": ""
        }
    ]
    showCards( data,id )
</script>
