<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/widerstaende/parameterabhaengigehalbleiterwiderstaende/nichtelektrischeparameter/temperatur/thermistor/heissleiter",
            "name": "Heissleiter",
            "text": ""
        },
        {
            "id": 2,
            "href": "/betriebsmittel/widerstaende/parameterabhaengigehalbleiterwiderstaende/nichtelektrischeparameter/temperatur/thermistor/kaltleiter",
            "name": "Kaltleiter",
            "text": "Uebung19"
        },
    ]
    showCards( data,id )
</script>
