<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/widerstand/thermistor/kaltleiter/aufgabe",
            "name": "Uebung19",
            "text": `Ein temperaturabhängiger Widerstand hat bei 20°C einen Gleichstromwiderstand
            von 40 kohm. Wie groß ist der Temperaturkoeffizient,wenn bei 25.5°C der
            Widerstand 41 kohm beträgt.`
        },
    ]
    showCards( data,id )
</script>
