<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/elektrischemaschinen/beweglich",
            "name": "Beweglich",
            "text": "Rotierende Elektrische Maschinen"
        },
        {
            "id": 2,
            "href": "/betriebsmittel/elektrischemaschinen/starr",
            "name": "Starr",
            "text": "Ruhende Elektrische Maschinen"
        },

    ]
    showCards( data,id )
</script>
