<!-- <script>
  const update=require( path.join( __dirname,'/src/modules/kennzeichnungUpdate.js' ) )
  const test="TEST"
  function lupdate ()
  {
    console.log( "lupdate aufgerufen" )
    update();
  } 
</script> -->

<h4>
  <%= locals.text %>
</h4>
<div class="container text-left">

  <div class="row ">
    <div class="col">
      <div class="bg-secondary">
        <%- include('text.ejs',{}) %>
      </div>
    </div>

    <div class="col">
      <div class="bg-secondary">
        <%- include('form.ejs',{}) %>
      </div>
    </div>

    <div class="col">
      <div class="bg-secondary">
        <form name="Kennzeichnung">
          <input type="checkbox" name="Kennzeichnung">Kennzeichnung
          eingeben ?
        </form>
      </div>
    </div>

    <div class="col">
      <div class="bg-secondary">
        <!-- Platzhalter -->
        <div class="col" id="ke"></div>
      </div>
    </div>
  </div>

  <script type="module">
    import {update} from "/modules/kennzeichnungUpdate.js";

    const checkbox=document.querySelector( 'input[type="checkbox"]' )
    checkbox.addEventListener( "click",( event ) => update() )

  </script>
