<h4>
    <%= locals.text %>
</h4>
<div class="container text-left">
    <div class="row ">
        <div class="col">
            <div class="bg-secondary">
                <%- include('text.ejs',{}) %>
            </div>
        </div>
        <div class="col">
            <div class="bg-secondary">
                <%- include('form.ejs',{}) %>
            </div>
        </div>
    </div>
</div>
