<div class="container text-left" id="1">

  <div class="row ">
    <div class="col">
      <div class="bg-secondary">
        <%- include('text.ejs',{}) %>
      </div>
    </div>

    <div class="col">
      <div class="bg-secondary">
        <%- include('form.ejs',{}) %>
      </div>
    </div>

    <div class="col">
      <div class="bg-secondary">
        <form name="Kennzeichnung">
          <input type="checkbox" name="Kennzeichnung">Kennzeichnung eingeben ?
        </form>
      </div>
    </div>
  </div>

  <div class="container text-left">
    <div class="row">
      <div class="col">
        <div class="bg-secondary" id="ke">
          <!-- Platzhalter für Kennzeichnung -->
        </div>
      </div>
    </div>
  </div>

</div>

<script type="module">

  import {update} from "/modules/kennzeichnungUpdate.js";
  // const route='/elektrotechnik/gleichspannung/grundbegriffe/spezifischerwiderstand/beispiel12/kennzeichnung'
  const checkbox=document.querySelector( 'input[type="checkbox"]' )
  // Eingabeformular
  checkbox.addEventListener( "click",( event ) => update() )

</script>
