<%- include('aufgabe.ejs',{}) %>

<div class="container text-left">
    <div class="row">
        <div class="col">
            <div class="bg-secondary">
                <!-- Platzhalter für table kennzeichnung -->
                <table class="table table-bordered" id="kennzeichnung"></table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="bg-secondary">
                <!-- Platzhalter für table ergebnis -->
                <table class="table table-bordered" id="ergebnis"></table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="bg-secondary">
                <!-- Platzhalter für svg -->
                <svg id="grafik"></svg>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import {tabulate} from '/modules/tabulate.mjs'
    import {canvas} from '/modules/canvas.mjs'

    import {vW} from '/d3/lib/Betriebsmittel/vW.mjs'

    const j=await d3.json( "http://localhost:8000/json/example/beispiel12.json" )

    const g=canvas( 800,100,'#grafik' ) // Gesamtgröße

    const datatablekennzeichnung=[ {
        "l": j.Parameter.l,
        "d": j.Parameter.d,
        "R": j.Parameter.R,
        'ρ': j.Ergebnis.ρ.value+j.Ergebnis.ρ.unit
    } ]

    // tabelle füllen
    // tabulate( datatablekennzeichnung,[ 'l','d','R','ρ' ],"#kennzeichnung" )

    const datatableergebnis=[ {
        "l": j.Parameter.l,
        "d": j.Parameter.d,
        "R": j.Parameter.R,
        'ρ': j.Ergebnis.ρ.value+j.Ergebnis.ρ.unit
    } ]

    // tabelle füllen
    tabulate( datatableergebnis,[ 'l','d','R','ρ' ],"#ergebnis" )

    // canvas füllen
    const dataW=[ {
        'opacity': j.Betriebsmittel.Visual.opacity,
        'x': j.Betriebsmittel.Visual.x,
        'y': j.Betriebsmittel.Visual.y,
        'height': j.Betriebsmittel.Visual.height,
        'width': j.Betriebsmittel.Visual.width,
        'text': [
            "W1",
            `l = ${ j.Parameter.l }`,
            `d = ${ j.Parameter.d }`,
            `R = ${ j.Parameter.R }`
        ]
    }
    ]

    g.append( () => vW( dataW ) )


    // Schleife für das Einfügen von geänderten Werten im Formular
    const tab=d3.selectAll( 'tbody' ).selectAll( 'tr' )._groups[ 0 ][ 0 ].innerText.split( '\t' );
    l.value=tab[ 0 ]
    d.value=tab[ 1 ]
    R.value=tab[ 2 ]

</script>
