<%- include('aufgabe.ejs',{}) %>
<div class="container text-left">
    <div class="row">
        <div class="col">
            <div class="bg-secondary">
                <%- include('table.ejs',{}) %>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="bg-secondary">
                <%- include('svg.ejs',{}) %>
            </div>
        </div>
    </div>
</div>

<script type="module">
    const tab=d3.selectAll( 'tbody' ).selectAll( 'tr' )._groups[ 0 ][ 0 ].innerText.split( '\t' );
    l.value=tab[ 0 ]
    d.value=tab[ 1 ]
    R.value=tab[ 2 ]
</script>
