<form action="/elektrotechnik/gleichspannung/grundbegriffe/spezifischerwiderstand/beispiel12/aufgabe" method="POST">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="width: 15rem;">Länge</span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="l" name="l" value="3 km" />
    </div>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="width: 15rem;">Durchmesser</span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="d" name="d" value="0.9 mm" />
    </div>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="width: 15rem;">Widerstand</span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="R" name="R" value="84.5 ohm" />
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Rechnen</button>
        </div>
    </div>
</form>
