<form action="/elektrotechnik/gleichspannung/grundbegriffe/spezifischerwiderstand/beispiel12/aufgabe" method="POST">
  <%- include('./../../../../../../layouts/partials/finput.ejs', {
        text: "Länge",id: "l",name: "l",value: "3km"}) %>

  <%- include('./../../../../../../layouts/partials/finput.ejs', {
        text: "Durchmesser",id: "d",name: "d",value: '0.9mm'}) %>

  <%- include('./../../../../../../layouts/partials/finput.ejs', {
        text: "Widerstand",id: "R",name: "R",value: '84.5ohm'}) %>

  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-success">Rechnen</button>
    </div>
  </div>
</form>
