<!-- TODO: Wenn Kennzeichnung ausgegeben werden soll (Abfrage) dann -->
<script>
    // Variable abfragen, TRUE | FALSE  Kennzeichnung ausgeben 

    // Ausgabe 
</script>
<h4>Hier wird die Kennzeichnung ausgegeben wenn gewünscht</h4>
