<table class="table table-bordered" id="ergebnis">
    <!-- <thead class="thead-dark">
        <tr>
            <th scope="col" colspan="3">Parameter</th>
            <th scope="col">Ergebnis</th>
        </tr>
        <tr>
            <th scope="col">Länge</th>
            <th scope="col">Durchmesser</th>
            <th scope="col">Widerstand</th>
            <th scope="col">spezifischer Widerstand</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%#= Aerg.Parameter.l %>
            </td>
            <td>
                <%#= Aerg.Parameter.d %>
            </td>
            <td>
                <%#= Aerg.Parameter.R %>
            </td>
            <td>
                <%#= Aerg.Ergebnis.ρ %>
            </td>
        </tr>
    </tbody> -->
</table>

<script type="module">

    const jsonData= await d3.json( "http://localhost:8000/json/example/beispiel12.json" )
    import {tabulate} from '/modules/tabulate.mjs'

    let data=[ {
        "l": jsonData.Parameter.l,
        "d": jsonData.Parameter.d,
        "R": jsonData.Parameter.R,
        'ρ': jsonData.Ergebnis.ρ.value+jsonData.Ergebnis.ρ.unit
    } ]




    tabulate( data,[ 'l','d','R','ρ' ],"#ergebnis" )



</script>
