<%- include('./../partials/head.ejs',{}) %>

<body style="background-color: rgb(211,209,209);" onload="init()">
    <%- include('./../partials/Bauelemente/header.ejs',{}) %>
    <%- body %>
    <%- include('./../partials/footer',{}) %>
</body>
