<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs'
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/werkstoff/leiterwerkstoff/aufgabe16/aufgabe",
            "name": "Aufgabe 1.6",
            "text": "Wie groß ist die Temperaturkonstante δ0 für Gold-Chrom"
        }
    ]

    showCards( data,id )
</script>
