<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/widerstand/allgemein/beispiel11/aufgabe",
            "name": "Beispiel 1.1",
            "text": `An den Klemmen der Widerstände R1...R4 liegt eine Spannung von U = 60 V.
            R0 = 2.5 Mohm, R1  80 kohm, R2 = 500 ohm, R3 = 75 ohm Wie groß sind die Ströme durch diese Widerstände ? Wie groß sind die Leitwerte ?`
        }
    ]
    showCards( data,id )
</script>
