<h2>
    <%= locals.text %>
</h2>
<p>
    Aus den Büchern 'Grundlagen der Elektrotechnik Band1 und Band2<br> Lehrbuch für Ingenieurschulen der Elektrotechnik
    9.,durchgesehene Auflage Autorenkollektiv VEB VERLAG TECHNIK BERLIN'<br> werden die Beispiele und Aufgaben hier
    wiedergegeben. Wobei der Blickpunkt auf Weiterentwicklung dieser App seht.
</p>
