<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/freileitung/uebung11/aufgabe",
            "name": "Übung 11",
            "text": `Eine zweidrähtige Aluminiumfreileitung von 17 km Länge hat einen Querschnitt von 25 mm².
                     Wie groß ist der Widerstand?`
        },
    ]
    showCards( data,id )
</script>
