<div class="container text-left row">

    <div class="col bg-secondary" id="text"></div>
    <div class="col">
        <form id="beispiel13" action="/bauelemente/rohrleitungen/bleirohre/beispiel13/aufgabe" method="POST"></form>
    </div>
</div>

<script type="module">
    import {finput} from '/modules/finput.mjs'
    import {fsubmit} from '/modules/fsubmit.mjs'
    import {ftext} from '/modules/ftext.mjs'

    const idBeispiel="#beispiel13"
    const idText="#text"
    const dataSubmit=[ "Rechnen" ] // 1 Button 
    const dataText=[
        {
            title: "Beispiel 1.3",
            subtitle: "Elektrischer Widerstand",
            text: `Wie lang ist ein Bleirohr,das einen Leitwert von 1285 S hat? Der Innendurchmesser di beträgt 2.5cm und der Außendurchmesser da 3cm.`
        }

    ]

    const dataForm=[
        {id: 'G',text: "Leitwert",name: "G",value: "1285S"},
        {id: 'd',text: "Innendurchmesser",name: "d",value: "2.5cm"},
        {id: 'D',text: "Aussendurchmesser",name: "D",value: "3.0cm"},
    ]

    ftext( dataText,idText )
    finput( dataForm,idBeispiel )
    fsubmit( dataSubmit,idBeispiel )


</script>
