<%- include ('./../../../../partials/head.ejs', {}) %>

<body>
    <%- include('../../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Elektrotechnik","link": "/elektrotechnik","class": "nav-link"},
            {"name": "Gleichspannung","link": "/elektrotechnik/gleichspannung","class": "nav-link"},
            {"name": "Grundbegriffe","link": "/elektrotechnik/gleichspannung/grundbegriffe","class": "nav-link"},
            {"name": "Temperaturkoeffizient","link": "/elektrotechnik/gleichspannung/grundbegriffe/temperaturkoeffizient","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('./../../../../partials/footer',{}) %>
</body>
