<%- include('../../../partials/head',{}) %>

<body>
    <%- include('../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Betriebsmittel","link": "/betriebsmittel","class": "nav-link"},
            {"name": "Induktivitaet","link": "/betriebsmittel/induktivitaet","class": "nav-link"},
            {"name": "Aufgabe13","link": "/betriebsmittel/induktivitaet/aufgabe13","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('../../partials/footer',{}) %>
</body>
