<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/bauelemente/rohrleitungen/bleirohre/beispiel13/aufgabe",
            "name": "Beispiel 13",
            "text": `Wie lang ist ein Bleirohr,das einen Leitwert von 1285 S hat? Der Innendurchmesser di beträgt 2.5cm und der Außendurchmesser da 3cm.`
        }
    ]
    showCards( data,id )
</script>
