<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/widerstaende/widerstand",
            "name": "Widerstand",
            "text": "Allgemein"
        },
        {
            "id": 2,
            "href": "/betriebsmittel/widerstaende/feldplatten",
            "name": "Feldplatte",
            "text": "Feldplatte"
        },
        {
            "id": 3,
            "href": "/betriebsmittel/widerstaende/fotowiderstand",
            "name": "Fotowiderstand",
            "text": "Fotowiderstand"
        },
        {
            "id": 4,
            "href": "/betriebsmittel/widerstaende/thermistor",
            "name": "Thermistor",
            "text": "Thermistor"
        },
        {
            "id": 5,
            "href": "/betriebsmittel/widerstaende/varistor",
            "name": "Varistor",
            "text": "Varistor"
        },
    ]
    showCards( data,id )
</script>
