<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/widerstaende/ParameterabhaengigeHalbleiterwiderstaende",
            "name": "Parameter abhängige Halbleiterwiderstände",
            "text": "Elektrische Parameter, Nicht elektrische Parameter"
        },
        {
            "id": 2,
            "href": "/betriebsmittel/widerstaende/widerstand",
            "name": "Widerstand",
            "text": "Allgemein"
        },
    ]
    showCards( data,id )
</script>
