<%- include('../../../../../../partials/head',{}) %>

<body>
    <%- include('../../../../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Betriebsmittel","link": "/betriebsmittel","class": "nav-link"},
            {"name": "ElektrischeMaschinen","link": "/betriebsmittel/elektrischemaschinen","class": "nav-link"},
            {"name": "Starr","link": "/betriebsmittel/elektrischemaschinen/starr","class": "nav-link"},
            {"name": "Ruhende elektrische Maschinen","link": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen","class": "nav-link"},
            {"name": "Transformatoren","link": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren","class": "nav-link"},
            {"name": "Transformator","link": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/transformator","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('../../partials/footer',{}) %>
</body>
