<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/induktivitaet/spule/spulemitkern/magnetspule/uebung18/aufgabe",
            "name": "Übung 18",
            "text": `An einer Magnetspule aus Kupferdraht liegt eine konstante Spannung.
            Nach mehrstündigem Betrieb  hat sich die Temperatur der Spule
            von 12°C auf 60°C erhöht. 
            Um wieviel Prozent ändert sich durch die Erwärmung der Strom der Spule?`
        },
    ]
    showCards( data,id )
</script>
