<%- include('aufgabe.ejs',{}) %>

<div class="container text-left">
    <div class="row">
        <table class="table table-bordered" id="kennzeichnung"></table>
    </div>

    <div class="row ">
        <svg id="grafik"></svg>
    </div>

    <div class="row ">
        <table class="table table-bordered" id="ergebnis"></table>
    </div>
</div>

<script type="module">

    import {tabulate} from '/modules/tabulate2.mjs'
    import {canvas} from '/modules/canvas.mjs'
    import {populate} from '/modules/populate.mjs'
    import {vR} from '/d3/lib/Betriebsmittel/vR.mjs'

    const data=await populate( "http://localhost:8000/json/example/uebung111.json" )

    tabulate( data,"group","#ergebnis" )

    let sel=d3.select( 'tbody' ).selectAll( 'tr' )._groups[ 0 ];

    // let R1=sel[ 0 ].innerText.split( '\t' )[ 0 ];
    // let R2=sel[ 1 ].innerText.split( '\t' )[ 0 ];
    // let R3=sel[ 2 ].innerText.split( '\t' )[ 0 ];
    // let R4=sel[ 3 ].innerText.split( '\t' )[ 0 ];

    // R.value=[ R1,R2,R3,R4 ];
    // U.value=sel[ 0 ].innerText.split( '\t' )[ 1 ];

</script>
