<%- include('aufgabe.ejs',{}) %>

<div class="container text-left">
    <div class="row">
        <table class="table table-bordered" id="kennzeichnung"></table>
    </div>

    <div class="row ">
        <svg id="grafik"></svg>
    </div>

    <div class="row ">
        <table class="table table-bordered" id="ergebnis"></table>
    </div>
</div>

<script type="module">

    import {tabulate} from '/modules/tabulate2.mjs'
    import {canvas} from '/modules/canvas.mjs'
    import {populate} from '/modules/populate.mjs'
    import {vR} from '/d3/lib/Betriebsmittel/vR.mjs'

    //tabelle ergebnis
    const data=await populate( "http://localhost:8000/json/example/uebung111.json" )

    /** TODO: Tabelle
     * Ergebnisse sind noch nicht gerundet
     * Die Maßeinheit wird nicht richtig aufgelöst: V <==> ohm A ?
     * 
     */

    tabulate( data,"group","#ergebnis" )

    let sel=d3.select( 'tbody' ).selectAll( 'td' )._groups[ 0 ];

    R1.value=sel[ 0 ].innerText;
    R2.value=sel[ 1 ].innerText;
    R3.value=sel[ 2 ].innerText;
    Φc.value=sel[ 3 ].innerText;
    I.value=sel[ 4 ].innerText;

    // svg grafik
    const g=canvas( 800,300,'#grafik' )

    let dataR1=[
        {
            width: 50,
            height: 25,
            id: "R1"
        }
    ]
    let dataR2=[
        {
            width: 50,
            height: 25,
            id: "R2"
        }
    ]
    let dataR3=[
        {
            width: 50,
            height: 25,
            id: "R3"
        }
    ]

    g.append( () => vR( dataR1,[ 50,50 ] ) )
    g.append( () => vR( dataR2,[ 150,50 ] ) )
    g.append( () => vR( dataR3,[ 250,50 ] ) )

</script>
