<%- include('aufgabe.ejs', { }) %>
<div class="container text-left">
    <div class="row">
        <div class="col">
            <!-- <div class="bg-secondary">
                <%#- include('kennzeichnung.ejs', { }) %>
            </div> -->
            <div class="bg-secondary">
                <%- include('table.ejs', { }) %>
            </div>
        </div>
    </div>
</div>

<script type="module">
    const sel=d3.select( '#ergebnis' ).select( 'tbody' ).selectAll( 'tr' )._groups[ 0 ][ 0 ].innerText.split( '\t' );
    Material.value=sel[ 1 ];
    l.value=sel[ 2 ];
    b.value=sel[ 3 ];
    d.value=sel[ 4 ];
</script>
