<%- include('aufgabe.ejs', { }) %>

<div class="container text-left">
    <div class="row col bg-secondary">
        <%- include('table.ejs', { }) %>
    </div>
</div>

<script type="module">

    const sel=d3.select( 'table#ergebnis' ).selectAll( 'tr' ).selectAll( 'td' )._parents[ 2 ].innerText.split( '\t' )
    Material.value=sel[ 0 ];
    l.value=sel[ 1 ];
    b.value=sel[ 2 ];
    d.value=sel[ 3 ];
</script>
