<div class="card">
    <div class="card-body">
        <h5 class="card-title">Übung 14</h5>
        <h6 class="card-subtitle mb-2 text-muted">Bauelemente/Platten</h6>
        <p class="card-text">
            Zwischen zwei Metallplatten mit einer Fläche von je 0.8 m x 1.25 m<br />
            befindet sich eine 1 mm dicke, gleichgroße Glasplatte.<br />
            Wie groß ist der Widerstand zwischen den Metallplatten ? (roh_glas = 10^12 ohm cm)
        </p>
    </div>
</div>
