<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/draehte/draht/beispiel16/aufgabe",
            "name": "Beispiel 1.6",
            "text": `Welche Widerstandswerte hat ein Aluminiumdraht von 300 m Länge und 0.2 mm bei 20°C,bei 75°C und bei -8°C?`
        },
    ]
    showCards( data,id )
</script>
