<h4>
    <%= locals.text %>
</h4>
<template id="e4-card-template">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">
                <a class="nav-link link" href=""></a>
            </h5>
            <p class="card-text"></p>
        </div>
    </div>
</template>

<div id="e4"></div>

<script type="module">
    import {showCards} from '/modules/showCards.js';
    showCards( "/json/Elektrotechnik/Gleichspannung/Grundbegriffe/Temperaturkoeffizient/index.json","e4-card-template","e4" );
</script>
