<div class="container text-left">
    <div class="row">
        <div class="col">
            <div id="text" class="bg-secondary"></div>
        </div>
        <div class="col">
            <form id=<%= id %> action=<%= action %> method="POST">
            </form>
        </div>
    </div>
</div>
<script type="module">
    import {finput} from '/modules/finput.mjs'
    import {fsubmit} from '/modules/fsubmit.mjs'
    import {ftext} from '/modules/ftext.mjs'

    const dataSubmit=[ "Rechnen" ];
    const idText = "#text";

    function eingabe (
        idBeispiel,
        Text,
        Form
    )
    {
        ftext( Text,idText );
        finput( Form,idBeispiel );
        fsubmit( dataSubmit,idBeispiel )
    }
