<div class="container text-left">
    <div class="row">
        <div class="col">
            <div id="text" class="bg-secondary"></div>
        </div>
        <div class="col">
            <form id=<%= id %> action=<%= action %> method="POST">
            </form>
        </div>
    </div>
</div>

<script type="module">
    import {finput,fsubmit,ftext} from '/modules/utility.mjs'

    function eingabe ( idBeispiel,Text,Form )
    {
        ftext( Text,"#text" );
        finput( Form,idBeispiel );
        fsubmit( [ "Rechnen" ],idBeispiel )
    }
