<template id="e1-card-template">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">
                <a class="nav-link link" href=""></a>
            </h5>
            <p class="card-text"></p>
        </div>
    </div>
</template>
