<div class="container text-left">
    <div class="row">
        <p class="table table-bordered">
            <b id="kennzeichnung"></b>
        </p>
    </div>
    <div class="row ">
        <table class="table table-bordered" id="ergebnis"></table>
    </div>
</div>
<script type="module">
    import {populate} from "/modules/populate.mjs";
    import {Tabelle} from "/sysFrontend/Tabelle.mjs";
