<div class="container text-left">
    <div class="row">
        <table class="table table-bordered" id="kennzeichnung"></table>
    </div>

    <div class="row ">
        <svg id="grafik"></svg>
    </div>

    <div class="row ">
        <table class="table table-bordered" id="ergebnis"></table>
    </div>
</div>
