<div class="container text-left">
    <div class="row">
        <table class="table table-bordered" id="kennzeichnung">Kennzeichnung</table>
    </div>

    <div class="row ">
        <p>Grafik</p>
        <svg id="grafik"></svg>
    </div>

    <div class="row ">
        <table class="table table-bordered" id="ergebnis">Ergebnis</table>
    </div>
</div>
