<div class="input-group ">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><%- text %></span>
    </div>
    <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
        aria-roledescription="basic-addon1" aria-required="true" id=<%- id %> name=<%- name %> value=<%- value %> />
</div>
