<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min_neu.css">
    <link rel="stylesheet" type="text/css" href="/scss/main.css">
    <script src="/d3js/d3v785/d3.js"></script>
    <!-- <script src="/d3js/d3v3/d3.v3.min.js"></script> -->
    <title>Elektro</title>
</head>
