<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/transformatoren/audiotransformator",
            "name": "Audiotransformator",
            "text": ""
        },
        {
            "id": 2,
            "href": "/betriebsmittel/transformatoren/dreiphasentransformator",
            "name": "Dreiphasentransformator",
            "text": ""
        },
        {
            "id": 3,
            "href": "/betriebsmittel/transformatoren/Einphasentransformator",
            "name": "Einphasentransformator",
            "text": ""
        },
        {
            "id": 4,
            "href": "/betriebsmittel/transformatoren/HFTransformator",
            "name": "HFTransformator",
            "text": ""
        },
        {
            "id": 5,
            "href": "/betriebsmittel/transformatoren/Impulstransformator",
            "name": "Impulstransformator",
            "text": ""
        },
        {
            "id": 6,
            "href": "/betriebsmittel/transformatoren/Messwandler",
            "name": "Messwandler",
            "text": ""
        },
        {
            "id": 7,
            "href": "/betriebsmittel/transformatoren/Transaktor",
            "name": "Transaktor",
            "text": ""
        },
        {
            "id": 8,
            "href": "/betriebsmittel/transformatoren/Transformator",
            "name": "Transformator",
            "text": ""
        },
        {
            "id": 9,
            "href": "/betriebsmittel/transformatoren/TransformatorMitMittenabgriff",
            "name": "Transformator",
            "text": ""
        },
    ]
    showCards( data,id )
</script>
