<%- include('../../../partials/head',{}) %>

<body>
    <%- include('../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Betriebsmittel","link": "/betriebsmittel","class": "nav-link"},
            {"name": "Messgeräte","link": "/betriebsmittel/messgeraete","class": "nav-link"},
            {"name": "Leistungsmesser","link": "/betriebsmittel/messgeraete/leistungsmesser","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('../../partials/footer',{}) %>
</body>
