<%- include('aufgabe.ejs',{}) %>
<%- include('../../../../../../../layouts/partials/ergebnis.ejs') %>

<!-- <div class="container text-left">
    <div class="row ">
        <table class="table table-bordered" id="ergebnis1">SK1</table>
    </div>
    <div class="row ">
        <table class="table table-bordered" id="ergebnis2">W1</table>
    </div>
</div> -->

<script type="module">

    import {drawkennzeichnung} from '/modules/drawkennzeichnung.mjs'
    import {tabulate} from '/modules/tabulate.mjs'
    import {drawboard} from '/modules/drawboard.mjs'
    import {populate} from '/modules/populate.mjs'
    import {vLClass} from '/d3/lib/Betriebsmittel/vLClass.mjs'

    // vom Server laden
    const data=await populate( "http://localhost:8000/json/example/beispiel18.json" )

    // let dataSK1=data.Parameter.SK1
    // let dataW1=data.Parameter.W1

    // tabulate( dataSK1,"#ergebnis1" )
    // tabulate( dataW1,"#ergebnis2" )
    drawkennzeichnung( data,"#kennzeichnung" )
    tabulate( data,"#ergebnis" )

    // Rückkopplung
    const sel=d3.selectAll( 'tbody' ).selectAll( 'tr' )._groups[ 0 ][ 0 ].innerText.split( '\t' )
    Material.value=sel[ 0 ]
    δ.value=sel[ 1 ]
    R.value=sel[ 2 ]
    p.value=sel[ 3 ]

    // Visualisierung
    const g=drawboard()
    let L=new vLClass( data )
    g.append( () => L.fdraw() )


</script>
