<%- include ('./../../../partials/head.ejs') %>

<body>
    <%- include('./../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "PhysikalischeChemie","link": "/physikalischechemie","class": "nav-link"},
            {"name": "Elektrochemie","link": "/physikalischechemie/elektrochemie","class": "nav-link"},
            {"name": "Elektrolyt","link": "/physikalischechemie/elektrochemie/elektrolyt","class": "nav-link"},
            {"name": "Beispiel15","link": "/physikalischechemie/elektrochemie/elektrolyt/beispiel15","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('./../partials/footer',{}) %>
</body>
