<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs'
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/verschiedenes/beleuchtung/lampe/gluehlampe/beispiel17",
            "name": "Beispiel 17",
            "text": `Es ist der Widerstand des Wolframdrahts einer Glühlampe bei 20°C und bei 2250°C ( Betriebstemperatur der Lampe ) zu bestimmen. Der Draht hat einen Durchmesser von 0.0245 mm und ist 36.5 cm lang.`
        }
    ]

    showCards( data,id )
</script>
