<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/bauelemente/absperrschieber",
            "name": "Absperrschieber",
            "text": ""
        },
        {
            "id": 2,
            "href": "/bauelemente/achsen",
            "name": "Achsen",
            "text": ""
        },
        {
            "id": 3,
            "href": "/bauelemente/ausleger",
            "name": "Ausleger",
            "text": ""
        },
        {
            "id": 4,
            "href": "/bauelemente/balken",
            "name": "Balken",
            "text": ""
        },
        {
            "id": 5,
            "href": "/bauelemente/baukonstruktionen",
            "name": "Baukonstruktionen",
            "text": ""
        },
        {
            "id": 6,
            "href": "/bauelemente/behaelter",
            "name": "Behälter",
            "text": ""
        },
        {
            "id": 7,
            "href": "/bauelemente/boecke",
            "name": "Böcke",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/bolzen",
            "name": "Bolzen",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/buchsen",
            "name": "Buchsen",
            "text": ""
        },
        {
            "id": 8,
            "href": "/bauelemente/daecher",
            "name": "Dächer",
            "text": ""
        },
        {
            "id": 9,
            "href": "/bauelemente/decken",
            "name": "Decken",
            "text": ""
        },
        {
            "id": 10,
            "href": "/bauelemente/drahtseiltriebe",
            "name": "Drahtseiltriebe",
            "text": ""
        },
        {
            "id": 11,
            "href": "/bauelemente/exzenter",
            "name": "Exzenter",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/federn",
            "name": "Federn",
            "text": ""
        },

        {
            "id": 12,
            "href": "/bauelemente/fenster",
            "name": "Fenster",
            "text": ""
        },
        {
            "id": 13,
            "href": "/bauelemente/flansch",
            "name": "Flansch",
            "text": ""
        },
        {
            "id": 14,
            "href": "/bauelemente/gefaese",
            "name": "Gefäse",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/gelenke",
            "name": "Gelenke",
            "text": ""
        },
        {
            "id": 15,
            "href": "/bauelemente/geradefuehrungen",
            "name": "Geradeführungen",
            "text": ""
        },
        {
            "id": 16,
            "href": "/bauelemente/getriebe",
            "name": "Getriebe",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/gewinde",
            "name": "Gewinde",
            "text": ""
        },

        {
            "id": 17,
            "href": "/bauelemente/haehne",
            "name": "Hähne",
            "text": ""
        },
        {
            "id": 18,
            "href": "/bauelemente/haltestifte",
            "name": "Haltestifte",
            "text": ""
        },
        {
            "id": 19,
            "href": "/bauelemente/hanfseiltriebe",
            "name": "Hanfseiltriebe",
            "text": ""
        },
        {
            "id": 20,
            "href": "/bauelemente/hebel",
            "name": "Hebel",
            "text": ""
        },
        {
            "id": 21,
            "href": "/bauelemente/kegelraeder",
            "name": "Kegelräder",
            "text": ""
        },
        {
            "id": 22,
            "href": "/bauelemente/keile",
            "name": "Keile",
            "text": ""
        },
        {
            "id": 23,
            "href": "/bauelemente/kolben",
            "name": "Kolben",
            "text": ""
        },
        {
            "id": 24,
            "href": "/bauelemente/kolbenbolzen",
            "name": "Kolbenbolzen",
            "text": ""
        },
        {
            "id": 25,
            "href": "/bauelemente/kolbenringe",
            "name": "Kolbenringe",
            "text": ""
        },
        {
            "id": 26,
            "href": "/bauelemente/kolbenstange",
            "name": "Kolbenstange",
            "text": ""
        },
        {
            "id": 28,
            "href": "/bauelemente/konus",
            "name": "Konus",
            "text": ""
        },
        {
            "id": 29,
            "href": "/bauelemente/kreuzkoepfe",
            "name": "Kreuzköpfe",
            "text": ""
        },
        {
            "id": 30,
            "href": "/bauelemente/kreuzkopfbolzen",
            "name": "Kreuzkopfbolzen",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/kupplungen",
            "name": "Kupplungen",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/kurbeltrieb",
            "name": "Kurbeltrieb",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/Kurbelwelle",
            "name": "Kurbelwelle",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/kurbelzapfen",
            "name": "Kurbelzapfen",
            "text": ""
        },

        {
            "id": 31,
            "href": "/bauelemente/lager",
            "name": "Lager",
            "text": ""
        },
        {
            "id": 32,
            "href": "/bauelemente/maschinenfundamente",
            "name": "Maschinenfundamente",
            "text": ""
        },
        {
            "id": 33,
            "href": "/bauelemente/mauern",
            "name": "Mauern",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/muttern",
            "name": "Mauern",
            "text": ""
        },
        {
            "id": 34,
            "href": "/bauelemente/naben",
            "name": "Naben",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/naegel",
            "name": "Nägel",
            "text": ""
        },

        {
            "id": 35,
            "href": "/bauelemente/niete",
            "name": "Niete",
            "text": ""
        },
        {
            "id": 36,
            "href": "/bauelemente/passungen",
            "name": "Passungen",
            "text": ""
        },
        {
            "id": 38,
            "href": "/bauelemente/platten",
            "name": "Platten",
            "text": "Glasplatten"
        },
        {
            "id": 39,
            "href": "/bauelemente/riementriebe",
            "name": "Riementriebe",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/ringe",
            "name": "Ringe",
            "text": ""
        },
        {
            "id": 40,
            "href": "/bauelemente/rohrleitungen",
            "name": "Rohrleitungen",
            "text": "Aluminiumrohre, Betonrohre, Faserzementrohre, Gussrohre, Kunststoffrohre, Kupferrohre, Stahlrohre"
        },
        {
            "id": 50,
            "href": "/bauelemente/sauelen",
            "name": "Säulen",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/scheiben",
            "name": "Scheiben",
            "text": ""
        },
        {
            "id": 51,
            "href": "/bauelemente/schrauben",
            "name": "Schrauben",
            "text": ""
        },
        {
            "id": 52,
            "href": "/bauelemente/schraubenraeder",
            "name": "Schraubenräder",
            "text": ""
        },
        {
            "id": 53,
            "href": "/bauelemente/schubstangen",
            "name": "Schubstangen",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/senkungen",
            "name": "Senkungen",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/sicherungsbleche",
            "name": "Sicherungsbleche",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/sicherungsringe",
            "name": "Sicherungsringe",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/splinte",
            "name": "Splinte",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/stahlblech",
            "name": "Stahlblech",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/stahldraht",
            "name": "Stahldraht",
            "text": ""
        },
        {
            "id": 0,
            "href": "/bauelemente/stifte",
            "name": "Stifte",
            "text": ""
        },
        {
            "id": 54,
            "href": "/bauelemente/stopfbuechsen",
            "name": "Stopfbüchsen",
            "text": ""
        },
        {
            "id": 55,
            "href": "/bauelemente/traeger",
            "name": "Träger",
            "text": ""
        },
        {
            "id": 56,
            "href": "/bauelemente/transmissionen",
            "name": "Transmissionen",
            "text": ""
        },
        {
            "id": 57,
            "href": "/bauelemente/tueren",
            "name": "Türen",
            "text": ""
        },
        {
            "id": 58,
            "href": "/bauelemente/ventile",
            "name": "Ventile",
            "text": ""
        },
        {
            "id": 59,
            "href": "/bauelemente/wandarm",
            "name": "Wandarm",
            "text": ""
        },
        {
            "id": 60,
            "href": "/bauelemente/wellen",
            "name": "Wellen",
            "text": ""
        },
        {
            "id": 61,
            "href": "/bauelemente/zahnraeder",
            "name": "Zahnräder",
            "text": ""
        },
        {
            "id": 62,
            "href": "/bauelemente/zapfen",
            "name": "Zapfen",
            "text": ""
        },
        {
            "id": 63,
            "href": "/bauelemente/zylinder",
            "name": "Zylinder",
            "text": ""
        }
    ]
    showCards( data,id )

</script>
