<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/erder/aufgabe15/aufgabe",
            "name": "Aufgabe 1.5",
            "text": `Welchen Widerstand hat eine 0.9mm dicke und 3km lange Kupferleitung von rundem Querschnitt,
                     die im Erdreich verlegt ist? Die Umgebungstemperatur beträgt -2°C. ( Erder )`
        },
    ]
    showCards( data,id )
</script>
