<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/abschluesse",
            "name": "Abschlüsse",
            "text": ""
        },

        {
            "id": 2,
            "href": "/betriebsmittel/baugruppen",
            "name": "Baugruppen",
            "text": ""
        },
        {
            "id": 3,
            "href": "/betriebsmittel/filter",
            "name": "Filter",
            "text": ""
        },
        {
            "id": 4,
            "href": "/betriebsmittel/generatoren",
            "name": "Generatoren",
            "text": ""
        },
        {
            "id": 5,
            "href": "/betriebsmittel/geraetemitelektrischenantrieb",
            "name": "Geräte mit elektrischen Antrieb",
            "text": ""
        },
        {
            "id": 6,
            "href": "/betriebsmittel/halbleiter",
            "name": "Halbleiter",
            "text": ""
        },
        {
            "id": 7,
            "href": "/betriebsmittel/induktivitaet",
            "name": "Induktivität",
            "text": "Spule mit Kern, Spule ohne Kern, Variometer"
        },
        {
            "id": 8,
            "href": "/betriebsmittel/kondensatoren",
            "name": "Kondensatoren",
            "text": ""
        },
        {
            "id": 9,
            "href": "/betriebsmittel/melder",
            "name": "Melder",
            "text": ""
        },
        {
            "id": 10,
            "href": "/betriebsmittel/messgeraete",
            "name": "Messgeräte",
            "text": "Energiemesser, Frequenzmesser, Impedanzmesser, Leistungsmesser, Magnitische Größe messen, Phasenwinkelmesser, Spannungsmesser, Strommesser, Zeitmesser"
        },
        {
            "id": 11,
            "href": "/betriebsmittel/motoren",
            "name": "Motoren",
            "text": ""
        },
        {
            "id": 12,
            "href": "/betriebsmittel/pruefgeraete",
            "name": "Prüfgeräte",
            "text": ""
        },
        {
            "id": 13,
            "href": "/betriebsmittel/regler",
            "name": "Regler",
            "text": ""
        },
        {
            "id": 14,
            "href": "/betriebsmittel/relais",
            "name": "Relais",
            "text": ""
        },
        {
            "id": 15,
            "href": "/betriebsmittel/schalter",
            "name": "Schalter",
            "text": ""
        },
        {
            "id": 16,
            "href": "/betriebsmittel/schuetze",
            "name": "Schütze",
            "text": ""
        },
        {
            "id": 17,
            "href": "/betriebsmittel/schutzeinrichtungen",
            "name": "Schutzeinrichtungen",
            "text": ""
        },
        {
            "id": 18,
            "href": "/betriebsmittel/sensoren",
            "name": "Sensoren",
            "text": ""
        },
        {
            "id": 19,
            "href": "/betriebsmittel/steckvorrichtungen",
            "name": "Steckvorrichtungen",
            "text": ""
        },
        {
            "id": 20,
            "href": "/betriebsmittel/elektrischemaschinen",
            "name": "Elektrische Maschinen",
            "text": "Beweglich, Starr"
        },
        {
            "id": 21,
            "href": "/betriebsmittel/uebertragungswege",
            "name": "Übertragungswege",
            "text": "Antenne, Drähte, Leitung, Kabel, Sammelschiene "
        },
        {
            "id": 22,
            "href": "/betriebsmittel/umformer",
            "name": "Umformer",
            "text": ""
        },
        {
            "id": 23,
            "href": "/betriebsmittel/umsetzer",
            "name": "Umsetzer",
            "text": ""
        },
        {
            "id": 24,
            "href": "/betriebsmittel/verschiedenes",
            "name": "Verschiedenes",
            "text": ""
        },
        {
            "id": 25,
            "href": "/betriebsmittel/verstaerker",
            "name": "Verstärker",
            "text": ""
        },
        {
            "id": 26,
            "href": "/betriebsmittel/waehler",
            "name": "Wähler",
            "text": ""
        },
        {
            "id": 27,
            "href": "/betriebsmittel/widerstaende",
            "name": "Widerstaende",
            "text": "Widerstand, Feldplatten, Fotowiderstand, Thermistor, Varistor"
        },
    ]
    showCards( data,id )
</script>
