<%- include('../../../../../partials/head',{}) %>

<body>
    <%- include('../../../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Betriebsmittel","link": "/betriebsmittel","class": "nav-link"},
            {"name": "Widerstand","link": "/betriebsmittel/widerstaende","class": "nav-link"},
            {"name": "Parameterabhängige Halbleiterwiderstände","link": "/betriebsmittel/widerstaende/parameterabhaengigehalbleiterwiderstaende","class": "nav-link"},
            {"name": "Nicht elektrische Parameter","link": "/betriebsmittel/widerstaende/parameterabhaengigehalbleiterwiderstaende/nichtelektrischeparameter","class": "nav-link"},
            {"name": "Magnetisches Feld","link": "/betriebsmittel/widerstaende/parameterabhaengigehalbleiterwiderstaende/nichtelektrischeparameter/magnetischesfeld","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('../../partials/footer',{}) %>
</body>
