<%- include('aufgabe.ejs',{}) %>
<div class="container text-left">
    <div class="row">
        <div class="col">
            <div>
                <%- include('table.ejs',{}) %>
            </div>
        </div>
    </div>
</div>

<script type="module">

    let sel=d3.select( 'tbody' ).selectAll( 'tr' )._groups[ 0 ];

    R1.value=sel[ 0 ].innerText.split( '\t' )[ 0 ];

    R2.value=sel[ 1 ].innerText.split( '\t' )[ 0 ];
    R3.value=sel[ 2 ].innerText.split( '\t' )[ 0 ];
    R4.value=sel[ 3 ].innerText.split( '\t' )[ 0 ];


    U.value=sel[ 0 ].innerText.split( '\t' )[ 1 ];

</script>
