<%- include('aufgabe.ejs',{}) %>

<div class="container text-left row">

    <div class="row">
        <table class="table table-bordered" id="kennzeichnung"></table>
    </div>

    <div class="row ">
        <svg id="grafik"></svg>
    </div>

    <div class="row ">
        <table class="table table-bordered" id="ergebnis"></table>
    </div>


</div>

<script type="module">

    import {tabulate} from '/modules/tabulate.mjs'
    import {canvas} from '/modules/canvas.mjs'
    import {populate} from '/modules/populate.mjs'
    import {vR} from '/d3/lib/Betriebsmittel/vR.mjs'

    const data=await populate( "http://localhost:8000/json/example/beispiel11.json" )
    tabulate( data,"#ergebnis" )

    const dataR=data.Object[ 0 ].Vis

    const g=canvas( 800,100,'#grafik' )

    g.append( () => vR( dataR,[ 10,50 ] ) )


    // const sel=d3.select( 'tbody' ).selectAll( 'tr' )._groups[ 0 ];

    // R1.value=sel[ 0 ].innerText.split( '\t' )[ 0 ];
    // R2.value=sel[ 1 ].innerText.split( '\t' )[ 0 ];
    // R3.value=sel[ 2 ].innerText.split( '\t' )[ 0 ];
    // R4.value=sel[ 3 ].innerText.split( '\t' )[ 0 ];
    // U.value=sel[ 0 ].innerText.split( '\t' )[ 1 ];

</script>
