<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern/mehrlagigespule/aufgabe13/aufgabe",
            "name": "Aufgabe 13",
            "text": `Auf einem Spulenkörper mit einer mittleren Windungslänge lm = 4.35 cm
                sind 680 Windungen Aluminiumdraht von 0.4 mm Durchmesser gewickelt.
                Wie groß ist der Leitwert der Spule?`
        },
        {
            "id": 2,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern/mehrlagigespule/aufgabe14/aufgabe",
            "name": "Aufgabe 14",
            "text": `Auf eine Spule sind 870 m Cu-Draht gewickelt.Wie groß ist die Stromdichte im Wickeldraht,wenn an die  Spule eine Spannung von 24 V Gleichspannung angelegt wird? Angaben in A/mm²!`
        },
        {
            "id": 3,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern/mehrlagigespule/beispiel18/aufgabe",
            "name": "Beispiel 18",
            "text": `Der ohmische Widerstand einer Spule,die aus Kupferdraht gewickelt ist,beträgt bei  12°C 45 Ohm. 
            Nach einer längeren Betriebsdauer ist der Spulenwiderstand um 28% seines  Anfangswerts gestiegen.
            Wie groß ist die Betriebstemperatur?`
        },
    ]
    showCards( data,id )
</script>
