<div id="pc1"></div>
<script type="module">
    import {showCards} from '/modules/showCards.mjs'
    const id="#pc1"
    const data=[
        {
            "id": 1,
            "href": "/physikalischechemie/elektrochemie/elektrolyt",
            "name": "Elektrolyt",
            "text": ""
        }
    ]
    showCards( data,id )
</script>
