<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/leitung/isolierteleitung/fernmeldeleitung/litzenleitung/uebung12/aufgabe",
            "name": "Aufgabe 1.2",
            "text": `Eine Kupferleitung( Litze ), die aus mehreren verdrillten, dünnen Einzeldrähten besteht, ist 8m lang und hat einen Widerstand von 1.58 ohm.Der Durchmesser eines Einzeldrahtes beträgt 0.08 mm. 
            Aus wieviel Drähten besteht die Litze ?`
        },
    ]
    showCards( data,id )
</script>
