<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/baugruppen/zweipole/passiverzweipol/reihenschaltung/uebung111/aufgabe",
            "name": "Übung 1.11",
            "text": `Die Widerstände der Schaltung nach Bild 1.27 haben folgende Werte: R1 = 5.2 ohm; R2 = 6.9 ohm; R3 = 3.4 ohm. Der Strom I ist 2 A groß. Das Potential Φc des Punktes C ist gleich Null. Wie groß sind die Potentiale an den Punkten A, B und D ?`
        },
    ]
    showCards( data,id )
</script>
