<%- include('../../../../../partials/head',{}) %>

<body>
    <%- include('../../../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Betriebsmittel","link": "/betriebsmittel","class": "nav-link"},
            {"name": "Widerstand","link": "/betriebsmittel/widerstand","class": "nav-link"},
            {"name": "Thermistor","link": "/betriebsmittel/widerstand/thermistor","class": "nav-link"},
            {"name": "Kaltleiter","link": "/betriebsmittel/widerstand/thermistor/kaltleiter","class": "nav-link"},
            {"name": "Übung19","link": "/betriebsmittel/widerstand/thermistor/kaltleiter/uebung19","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('../../partials/footer',{}) %>
</body>
