<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/bauelemente/rohrleitungen/aluminiumrohre",
            "name": "Aluminiumrohre",
            "text": ""
        },
        {
            "id": 2,
            "href": "/bauelemente/rohrleitungen/betonrohre",
            "name": "Betonrohre",
            "text": ""
        },
        {
            "id": 3,
            "href": "/bauelemente/rohrleitungen/bleirohre",
            "name": "Bleirohre",
            "text": ""
        },
        {
            "id": 4,
            "href": "/bauelemente/rohrleitungen/faserzementrohre",
            "name": "Faserzementrohre",
            "text": ""
        },
        {
            "id": 5,
            "href": "/bauelemente/rohrleitungen/gussrohre",
            "name": "Gussrohre",
            "text": ""
        },
        {
            "id": 6,
            "href": "/bauelemente/rohrleitungen/kunststoffrohre",
            "name": "Kunststoffrohre",
            "text": ""
        },
        {
            "id": 7,
            "href": "/bauelemente/rohrleitungen/kupferrohre",
            "name": "Kupferrohre",
            "text": ""
        },
        {
            "id": 8,
            "href": "/bauelemente/rohrleitungen/stahlrohre",
            "name": "Stahlrohre",
            "text": ""
        },
    ]
    showCards( data,id )
</script>
