<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "betriebsmittel/baugruppen/zweipole/passiverzweipol/parallelschaltung", //uebung/aufgabe",
            "name": "",
            "text": ``
        },
    ]
    showCards( data,id )
</script>
