<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/widerstaende/widerstand/beispiel11/aufgabe",
            "name": "Beispiel 1.1",
            "text": ""
        },
    ]
    showCards( data,id )
</script>
