<%- include('../../../../../../../partials/head',{}) %>

<body>
    <%- include('../../../../../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Betriebsmittel","link": "/betriebsmittel","class": "nav-link"},
            {"name": "Übertragungswege","link": "/betriebsmittel/uebertragungswege","class": "nav-link"},
            {"name": "Drähte","link": "/betriebsmittel/uebertragungswege/draehte","class": "nav-link"},
            {"name": "Draht","link": "/betriebsmittel/uebertragungswege/draehte/draht","class": "nav-link"},
            {"name": "Runddraht","link": "/betriebsmittel/uebertragungswege/draehte/draht/runddraht","class": "nav-link"},
            {"name": "Blank","link": "/betriebsmittel/uebertragungswege/draehte/draht/runddraht/blank","class": "nav-link"},
            {"name": "Aluminiumdraht","link": "/betriebsmittel/uebertragungswege/draehte/draht/runddraht/blank/aluminiumdraht","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('../../../partials/footer',{}) %>
</body>
