<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/messgeraete/spannungsmesser/uebung15/aufgabe",
            "name": "Übung 1.5",
            "text": `Ein Drehspulspannungsmesser hat einen Meßbereich von 300 mV. Das rechteckige Spulenrähmchen der Drehspule hat die Seitenlängen 2 cm und 1 cmm und ist mit 200 Windungen 
             von 0.03 mm  Durchmesser einlagig bewickelt.
            Wie groß ist der Strom, der durch das Meßgerät bei Endausschlag fließt ?`
        }
    ]
    showCards( data,id )
</script>
