<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/kerntransformator",
            "name": "",
            "text": ""
        },
    ]
    showCards( data,id )
</script>
