<form action="/betriebsmittel/widerstaende/beispiel11/aufgabe" method="POST">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Widerstand</span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="R" name="R"
            value="2.5 Mohm, 80 kohm, 500 ohm, 75 ohm" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Spannung</span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="U" name="U" value="60 V" />
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Rechnen</button>
        </div>
    </div>
</form>
