<div class="card">
    <div class="card-body">
        <h5 class="card-title">Beispiel 11</h5>
        <h6 class="card-subtitle mb-2 text-muted">Gleichspannung,Stromstärke,Leitwerte</h6>
        <p class="card-text">
            An den Klemmen der Widerstände R1...R4<br />
            liegt eine Spannung von U = 60 V.<br />
            R0 = 2.5 Mohm, R1 = 80 kohm, R2 = 500 ohm, R3 = 75 ohm<br />
            Wie groß sind die Ströme durch diese Widerstände ?<br />
            Wie groß sind die Leitwerte ?
        </p>
    </div>
</div>
