<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/Draehte/Draht",
            "name": "Draht",
            "text": ""
        },
        {
            "id": 2,
            "href": "/betriebsmittel/uebertragungswege/Draehte/Wickeldraht",
            "name": "Wickeldraht",
            "text": ""
        },
    ]
    showCards( data,id )
</script>
