<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/hftransformator",
            "name": "HFTransformator",
            "text": ""
        },
        {
            "id": 2,
            "href": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/impulstransformator",
            "name": "Impulstransformator",
            "text": ""
        },
        {
            "id": 3,
            "href": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/kerntransformator",
            "name": "Kerntransformator",
            "text": ""
        },
        {
            "id": 4,
            "href": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/manteltransformator",
            "name": "Manteltransformator",
            "text": ""
        },
        {
            "id": 5,
            "href": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/messwandler",
            "name": "Messwandler",
            "text": ""
        },
        {
            "id": 6,
            "href": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/transaktor",
            "name": "Transaktor",
            "text": ""
        },
        {
            "id": 7,
            "href": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/transformator",
            "name": "Transformator",
            "text": ""
        },
    ]
    showCards( data,id )
</script>
