<%- include('../../../../../partials/head',{}) %>

<body>
    <%- include('../../../../../partials/navbarTemplate', {}) %>
    <script type="module">
        import {mainNavbar} from "/modules/mainNavbar.js"
        let menu=[
            {"name": "elektro","link": "/","class": "nav-link"},
            {"name": "Betriebsmittel","link": "/betriebsmittel","class": "nav-link"},
            {"name": "Übertragungswege","link": "/betriebsmittel/uebertragungswege","class": "nav-link"},
            {"name": "Leitung","link": "/betriebsmittel/uebertragungswege/leitung","class": "nav-link"},
            {"name": "Blanke Leitung","link": "/betriebsmittel/uebertragungswege/leitung/blankeleitung","class": "nav-link"},
            {"name": "Freileitung","link": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/freileitung","class": "nav-link"},
            {"name": "Übung 1.1","link": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/freileitung/uebung11","class": "nav-link"},
        ]
        mainNavbar( menu );
    </script>
    <main>
        <%- body %>
    </main>
    <%#- include('../../../partials/footer',{}) %>
</body>
