<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs'
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/werkstoff/eisenwerkstoff",
            "name": "Eisenwerkstoff",
            "text": ""
        },
        {
            "id": 2,
            "href": "/werkstoff/baustahl",
            "name": "Baustahl",
            "text": ""
        },
        {
            "id": 3,
            "href": "/werkstoff/automatenstahl",
            "name": "Automatenstahl",
            "text": ""
        },
        {
            "id": 4,
            "href": "/werkstoff/einsatzstahl",
            "name": "Einsatzstahl",
            "text": ""
        },
        {
            "id": 5,
            "href": "/werkstoff/verguetungsstahl",
            "name": "Vergütungsstahl",
            "text": ""
        },
        {
            "id": 6,
            "href": "/werkstoff/werkzeugstahl",
            "name": "Werkzeugstahl",
            "text": ""
        },
        {
            "id": 7,
            "href": "/werkstoff/leiterwerkstoff",
            "name": "Leiterwerkstoff",
            "text": "Silber,Kupfer,Bronze,Gold,Aluminium,Magnesium,Wolfram,Zink,Messing,Nickel,Eisen,Zinn,Platin,Blei,Neusilber,GoldChrom,Nickelin,Manganin,Novokonstant,Rheotan,Isabellin,Konstantan,Resistion,Kruppin,Quecksilber,Chromnickel,Wismut,Glas"
        },
        {
            "id": 8,
            "href": "/werkstoff/magnetischerwerkstoff",
            "name": "magnetischer Werkstoff",
            "text": ""
        },
    ]

    showCards( data,id )
</script>
