<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/messgeraete/strommesser/uebung13/aufgabe",
            "name": "Übung 1.3",
            "text": `Ein Strommesser hat einen Widerstand von 2.5 ohm.
                     Bei Endausschlag liegt an seinen Klemmen eine
                     Spannung von 0.625 V.
                    Wie groß ist der Meßbereich ?`
        }
    ]
    showCards( data,id )
</script>
