<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 3,
            "href": "/betriebsmittel/widerstaende/parameterabhaengigehalbleiterwiderstaende/nichtelektrischeparameter/temperatur/thermistor",
            "name": "Thermistor",
            "text": "Heissleiter, Kaltleiter"
        },
    ]
    showCards( data,id )
</script>
