<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/leitung/isolierteleitung/starkstromleitung/beispiel14/aufgabe",
            "name": "Beispiel 1.4",
            "text": "Eine zweiadrige Aluminiumleitung mit dem spezifischen Widerstand ρ = 0.02857 ohm*mm^2/m verbindet ein Gleichstromnetz von 230V Netzspannung mit einem 800 m entfernt liegenden Verbraucher. Die Leitung wird mit einem Strom von I = 11 A belastet. Wie groß muß der erforderliche Querschnitt sein, wenn der Spannungsverlust längs der Leitung maximal 5% der Netzspannung betragen darf?"
        },

    ]
    showCards( data,id )
</script>
