<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/elektrischemaschinen/starr/ruhendeelektrischemaschinen/transformatoren/transformator/uebung17/aufgabe",
            "name": "Übung 1.7",
            "text": `Die Primärwicklung eines Transformators aus Kupferdraht hat bei 20°C einen Gleichstomwiderstand von 560 ohm. Nach dreistündigen Betrieb beträgt der Widerstand 604 ohm. Wie hoch ist dann die Temperatur der Wicklung?`
        },
    ]
    showCards( data,id )
</script>
