<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/freileitung",
            "name": "Freileitung",
            "text": ""
        },
        {
            "id": 2,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/hochfrequenzleitung",
            "name": "Hochfrequenzleitung",
            "text": ""
        },
        {
            "id": 3,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/erder",
            "name": "Erder",
            "text": ""
        },
        {
            "id": 4,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/erdungssammelleitung",
            "name": "Erdungssammelleitung",
            "text": ""
        },
        {
            "id": 5,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/fahrleitung",
            "name": "Fahrleitung",
            "text": ""
        },
        {
            "id": 6,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/freileitung",
            "name": "Freileitung",
            "text": ""
        },
        {
            "id": 7,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/offengelegteleitung",
            "name": "Offen gelegte Leitung",
            "text": ""
        },
        {
            "id": 8,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/sammelschiene",
            "name": "Sammelschiene",
            "text": ""
        },
        {
            "id": 9,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/schiene",
            "name": "Schiene",
            "text": ""
        },
        {
            "id": 10,
            "href": "/betriebsmittel/uebertragungswege/leitung/blankeleitung/stromschiene",
            "name": "Stromschiene",
            "text": ""
        },

    ]
    showCards( data,id )
</script>
