<%- include('aufgabe.ejs',{}) %>

<div class="container text-left row">
    <div class="col bg-secondary">
        <%- include('table.ejs',{}) %>
    </div>
</div>
<script type="module">
    const sel=d3.selectAll( 'tbody' ).selectAll( 'tr' )._groups[ 0 ][ 0 ].innerText.split( '\t' );
    R20.value=sel[ 1 ]
    Rδ2.value=sel[ 2 ]
    δ2.value=sel[ 3 ]
    δ20.value=sel[ 4 ]
</script>
