<form action="/elektrotechnik/gleichspannung/grundbegriffe/temperaturkoeffizient/uebung19/aufgabe" method="POST">
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" >R20 bei 20°C</span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="R20" name="R20" value="40 kohm" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">R bei δ2 </span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="Rδ2" name="Rδ2" value="41 kohm" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" >Temperatur δ2 </span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="δ2" name="δ2" value="25.5 celsius" />
    </div>
    <div class="input-group">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" >Temperatur δ20 </span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="δ20" name="δ20" value="20 celsius" />
    </div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Rechnen</button>
        </div>
    </div>
</form>
