<div class="card" style="width: 36rem; ">
    <div class="card-body">
        <h5 class="card-title">Übung 1.9</h5>
        <h6 class="card-subtitle mb-2 text-muted">Nichtlinearität durch systembedingten Stromwärmefluss</h6>
        <p class="card-text">
            Ein temperaturabhängiger Widerstand hat bei 20°C einen von 40 kohm. Wie groß ist der Temperaturkoeffizient,
            wenn bei 25.5°C<br /> der Widerstand 41 kohm beträgt.
        </p>
    </div>
</div>
