<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern/abgeschirmtespule",
            "name": "Abgeschirmte Spule",
            "text": ""
        },
        {
            "id": 2,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern/einlagigespule",
            "name": "einlagige Spule",
            "text": ""
        },
        {
            "id": 3,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern/mehrlagigespule",
            "name": "mehrlagige Spule",
            "text": ""
        },
        {
            "id": 4,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern/ringspule",
            "name": "Ringspule",
            "text": ""
        },
        {
            "id": 5,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern/zylinderspule",
            "name": "Zylinderspule",
            "text": ""
        },
        {
            "id": 6,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern/variometer",
            "name": "Variometer",
            "text": ""
        },
    ]
    showCards( data,id )
</script>
