<%- include('aufgabe.ejs',{}) %>

<div class="container text-left">
    <div class="row col bg-secondary">
        <%- include('table.ejs',{}) %>
    </div>
    <div class="row col bg-secondary">
        <%- include('svg.ejs',{}) %>
    </div>
</div>

<script type="module">

    const tab=d3.selectAll( 'tbody' ).selectAll( 'tr' )._groups[ 0 ][ 0 ].innerText.split( '\t' );
    G.value=tab[ 0 ]
    I.value=tab[ 1 ]
</script>
