<form action="/elektrotechnik/gleichspannung/grundbegriffe/spannung/aufgabe11/aufgabe" method="POST">
    <%- include('./../../../../../../layouts/partials/finput.ejs', {
        text: "Leitwert",id: "G",name: "G",value: "3E-2S"}) %>

    <%- include('./../../../../../../layouts/partials/finput.ejs', {
        text: "Stromstärke",id: "I",name: "I",value: '600mA'}) %>

    <%- include('./../../../../../../layouts/partials/fsubmit.ejs') %>
</form>
