<form action="/elektrotechnik/gleichspannung/grundbegriffe/spannung/aufgabe11/aufgabe" method="POST">
    <%- include('./../../../../../../layouts/partials/finput.ejs', {
        text: "Leitwert",id: "G",name: "G",value: "3E-2S"}) %>

    <%- include('./../../../../../../layouts/partials/finput.ejs', {
        text: "Stromstärke",id: "I",name: "I",value: '600mA'}) %>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Rechnen</button>
        </div>
    </div>
</form>
