<form action="/elektrotechnik/gleichspannung/grundbegriffe/spannung/aufgabe11/aufgabe" method="POST">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="width: 15rem;">Leitwert</span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="G" name="G" value="3E-2 S" />
    </div>
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1" style="width: 15rem;">Stromstärke</span>
        </div>
        <input type="text" class="form-control" placeholder="Wert eingeben" aria-label="Wert eingeben"
            aria-roledescription="basic-addon1" aria-required="true" id="I" name="I" value="600 mA" />
    </div>
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Rechnen</button>
        </div>
    </div>
</form>
