<div>
    <svg></svg>
</div>
<script>
    const svg=d3.select( 'svg' )
        .attr( 'width',800 )
        .attr( 'height',100 )

    const g=svg.append( 'g' )

    const R1=d3.create( 'svg:g' )
    R1.selectAll( 'g' )
        .data( [ {
            name: "G1"
        } ] )
        .enter()
        .append( 'rect' )
        .attr( 'fill','white' )
        .attr( 'fill-opacity',0.05 )
        .attr( 'style',"stroke:#999;stroke-width:1.5;" )
        .attr( 'x',50 )
        .attr( 'y',50 )
        .attr( 'height',30 )
        .attr( 'width',75 );

    //TODO: Anschlüsse zeichnen

    R1.selectAll( 'text' )
        .data( [
            [ "G1","3E-2S",50 ],
            [ "I","600mA",150 ],
            [ "U","20 V",250 ]
        ] )
        .enter()
        .append( 'text' )
        .attr( "y",40 )
        .attr( "x",( d ) => d[ 2 ] )
        .text( ( d ) => d[ 0 ]+"="+d[ 1 ] )

    g.append( () => R1.node() )

</script>
