<div class="card" >
    <div class="card-body">
        <h5 class="card-title">Aufgabe 1.1</h5>
        <h6 class="card-subtitle mb-2 text-muted">Widerstand und Leitwert</h6>
        <p class="card-text">
            Wie groß ist die Spannung, die an einem Widerstand liegt, dessen Leitwert 3E-2 S beträgt und der von einem
            Strom der
            Stärke 600 mA durchflossen wird?
        </p>
    </div>
</div>
