<div id="e1"></div>

<script type="module">
    import {showCards} from '/modules/showCards.mjs';
    const id="#e1"
    const data=[
        {
            "id": 1,
            "href": "/betriebsmittel/induktivitaet/spule/spulemitkern",
            "name": "Spule mit Kern",
            "text": "Magnetspule"
        },
        {
            "id": 2,
            "href": "/betriebsmittel/induktivitaet/spule/spuleohnekern",
            "name": "Spule ohne Kern",
            "text": "abgeschirmte Spule, einlagige Spule, mehrlagige Spule, Ringspule, Zylinderspule"
        },
        {
            "id": 3,
            "href": "/betriebsmittel/induktivitaet/spule/variometer",
            "name": "Variometer",
            "text": ""
        },
    ]
    showCards( data,id )
</script>
